.gallery-recipes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 65px;
  grid-auto-rows: minmax(100px, auto);
  overflow: hidden;
  width: 100%;
}

.img-recette {
  width: 380px;
  height: 253px;
  border-radius: 21px 21px 0 0;
  object-fit: cover;
}

.recipe-article {
  background-color: white;
  width: 380px;
  border-radius: 21px;
  position: relative;
}

.reciepe-name {
  font-family: "Anton";
  font-size: 18px;
  color: black;
}

.reciepe-time {
  background-color: #ffd15b;
  border-radius: 14px;
  color: black;
  position: absolute;
  top: 21px;
  right: 10px;
  padding: 5px;
  width: 65px;
  height: 26px;
  font-size: 12px;
  text-align: center;
}

.text-container {
  margin: 20px;
}

.reciepe-subtitle {
  color: #7a7a7a;
  font-size: 12px;
  font-family: "Manrope";
  font-weight: 700;
  letter-spacing: 9%;
}

.ingredient-Item-name {
  margin-bottom: 0;
}

.message-error {
  color: red;
  font-weight: bold;
  width: 100%;
  margin-top: 10px;
}

#suggestions-ingredients,
#suggestions-appareils,
#suggestions-ustensiles {
  width: 195px;
  background-color: white;
  margin-top: 2.3 rem;
  padding-left: 15px;
  margin-left: -11px;
  list-style-type: none;
  z-index: 10;
  padding-top: 56px;
  padding-bottom: 0;
  position: absolute;
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.all-suggestions::before,
.all-suggestions-appliance::before,
.all-suggestions-ustensiles::before {
  visibility: hidden;
}

.tag {
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffd15b;
  margin-top: 10px;
  margin-bottom: 17px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 167px;
  position: relative;
}

.suggestion,
.suggestion-appliance,
.suggestion-ustensiles {
  width: 195px;
  margin-left: -15px;
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 10px;
  list-style-type: none;
  position: relative;
}

.suggestion:hover,
.suggestion-active {
  background-color: #ffd15b;
}

.suggestion-active {
  font-weight: 600;
}

.close-tag {
  right: 5px;
  position: absolute;
}

.selected-tags {
  margin-top: 30px;
  margin-bottom: 30px;
}

.hidden {
  display: none;
}

ul {
  padding-left: 0;
}

.close-suggestion {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
}
