@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

.page {
  max-width: 1460px;
  margin: 0 auto;
}

main {
  /* background-color: lightgrey; */
  min-height: 100vh;
  /* margin-top: -30px; */
}

.header-top {
  position: relative;
}

.background-header {
  width: 100%;
  max-height: 667px;
  z-index: 0;
}

.logo {
  /* position: absolute; */
  width: 207px;
  height: 25px;
  top: 51px;
  left: 69px;
  /* padding: 0; */
}

.first-title {
  color: yellow;
  font-weight: 400;
  font-size: 44px;
  text-align: center;
  font-family: "Anton", sans-serif;
  /* position: absolute; */
  top: 245px;
  /* left: 275px;
  width: 890px;
  height: 132px; */
}

.search-elts {
  z-index: 1;
  /* position: absolute; */
  width: 954px;
  height: 72px;
  top: 406.42px;
  left: 175px;
}
.search-bar {
  width: 954px;
  height: 72px;
  border-radius: 10px;
  padding-left: 24px;
}

input::placeholder {
  margin-left: 24px;
  font-family: "Manrope", sans-serif;
}

.search-btn {
  background-color: #1b1b1b;
  border-radius: 15px;
  width: 56px;
  height: 56px;
  z-index: 5;
  margin-left: -65px;
  margin-top: 7px;
  box-shadow: none;
  border: 0 none;
  outline: 0;
  right: 10px;
}

.search-btn.search-btn:hover {
  background-color: yellow;
}

.glass-elt {
  font-size: 34px;
  color: white;
  font-weight: 100;
}

.glass-black {
  display: none;
}

.selects {
  background-color: #fff;
  padding: 17px;
  border-radius: 11px;
  margin: 15px;
  width: 188px;
  color: black;
  font-family: "manrope";
}

.custom-select {
  position: relative;
  display: inline-block;
  border-radius: 11px;
  background-color: white;
  width: 195px;
  height: 56px;
  padding: 17px;
}

.custom-select .option {
  display: flex;
}

.title-filer {
  justify-content: flex-start;
}
.arrow-top,
.arrow-bottom {
  width: 13px;
  height: 6px;
  position: absolute;
  right: 5px;
  top: 25px;
}

.select-one {
  top: 20px;
  left: 20px;
}

.select-two {
  top: 20px;
  left: 40px;
}

.select-three {
  top: 20px;
  left: 60px;
}

.arrow-top {
  display: none;
}

.custom-select .option {
  cursor: pointer;
}

.custom-select .option-search {
  display: none;
  position: absolute;
  top: 5px;
  border-top: none;
  width: 195px;
  height: 46px;
  border-radius: 2px;
  background-color: #fff;
  left: -17px;
  padding: 10px;
}

.custom-select:hover .option-search {
  display: block;
  position: relative;
}

.custom-select:hover .arrow-bottom {
  display: none;
}

.custom-select:hover .arrow-top {
  display: block;
}

.little-search {
  width: 175px;
  position: absolute;
  top: 10px;
  border: 1px solid #c6c6c6;
  margin: 0 auto;
  z-index: 1;
}

.little-glass {
  position: absolute;
  z-index: 2;
  right: 20px;
  top: 17px;
}

@media only screen and (max-width: 767px) {
  .background-header {
    width: 100%;
    height: auto;
  }
}

.header-main {
  position: relative;
}

#recipeCount {
  position: absolute;
  right: 15px;
  font-family: "Anton";
  color: black;
  font-size: 21px;
  top: 30px;
}

.recipe-desc {
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
